* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-new-flavors {
  width: 200px;
  border: 1px solid #5DE850;
  background: #EB7E76;
  color: #fff;
  margin-top: 10px;
  border-radius: 9px;
}

.add-project {
  display: flex;
  border: 1px solid black;
  margin-top: 20px;
  border-radius: 10px;
  height: 30px;
}


.btn-view-label {
  font-family: 'Roboto Slab', serif;
  margin-left: auto;
}

.project-button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #F5F5F7;
}

.title {
  color: #0277BC;
  font-family: 'Roboto Slab', serif;
  font-size: 34pt;
}

.header-subtitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle {
  margin: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 11pt;
}

.title .picker {
  color: orange;
}

.color-container {
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popsicle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.popsicle {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.popsicle-stick {
  height: 75px;
  width: 15px;
  background: tan;
  border-radius: 0 0 5px 5px;
}

.color-box {
  display: flex;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px 70px 15px 15px;
  margin: 0 10px;
}

.color-one {
  background: green;
}

.color-two {
  background: blue;
}

.color-three {
  background: lightgrey;
}

.color-four {
  background: red;
}

.color-five {
  background: lightblue;
}

.lock-box {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lock-icon {
  margin-top: 15px;
  height: 30px;
  width: 30px;
  background-image: url('../assets/svg/001-flag.svg');
  background-size: cover;
}

input {
  font-size: 22px;
  width: 200px;
  height: 30px;
  background: #F5F5F7;

}

button {
  height: 30px;
  width: 50px;
  outline: none;
  background: #F5F5F7;

}

button:hover {
  cursor: pointer;
}

.btn-save {
  border: none;
  width: 175px;
  border-radius: 5px ;
  border-left: 1px solid black;
  font-family: 'Roboto Slab';
  font-size: 13pt;
  background: #0277BC;
  color: #fff;
}


.project-input {
  height: 28px;
  border: none;
  border-radius: 10px;
  padding-left: 5px;
  margin-left: 10px;
  outline: none;
}

.palette-add {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.palette-input {
  outline: none;
  padding-left: 10px;
  margin-right: 10px;
}

.dropdown {
  margin-right: 10px;
  font-size: 16pt;
  width: 175px;
  background: #F5F5F7;
  outline: none;
}

.btn-add {
  border: none;
  border-left: 1px solid black;
  border-radius: 0 9px 9px 0;
  outline: none;
  font-family: 'Roboto Slab', serif;
  font-size: 13pt;
  height: 28px;
  background: #0277BC;
  color: #fff;
}

.hex-code {
  opacity: .55;
}

.selected-flag {
  background-image: url('../assets/svg/002-black.svg');
}

.project-container {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-container-title {
  font-family: 'Roboto Slab', serif;
  font-size: 18pt;
  color: #0277BC;
}

.append-hex {
  height: 40px;
  width: 20%;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.appended-project {
  width: 80%;
}

.append-project-title {
  color: orange;
}

.append-palette-title {
  color: green;
}

.appended-palettes-container {
  display: flex;
}

.append-project-subtitle {
  color: #0277BC;
}
