* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-container {
  display: flex;
}

.popsicle {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.popsicle-stick {
  height: 75px;
  width: 15px;
  background: tan;
}

.color-box {
  display: flex;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px 70px 10px 10px;
  margin: 0 10px;
}

.color-one {
  background: green;
}

.color-two {
  background: blue;
}

.color-three {
  background: lightgrey;
}

.color-four {
  background: red;
}

.color-five {
  background: lightblue;
}

.lock-box {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lock-icon {
  margin-top: 15px;
  height: 25px;
  width: 25px;
  background-image: url('../assets/svg/001-flag.svg');
  background-size: cover;
}

.hex-code {
  opacity: .4;
}

.selected-flag {
  background-image: url('../assets/svg/002-black.svg');
}